.contact-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in;
}

.contact-title {
  color: #1c718e;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Ysabeau', sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  animation: bounce 2s infinite;
}

.contact-subtitle {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  padding: 10px 50px;
}

.contact-form {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form .form-control {
  border-radius: 5px;
  border: 2px solid #1c718e;
  transition: border-color 0.3s;
}

.contact-form .form-control:focus {
  border-color: #ff33a1;
  box-shadow: 0 0 0 0.2rem rgba(255, 33, 161, 0.25);
}

.contact-button {
  background-color: #1c718e;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-button:hover {
  background-color: #ff33a1;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 33, 161, 0.9);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* Messages styling */
.messages {
  position: relative;
  height: 2.5rem; /* Default for larger screens */
  overflow: hidden;
}

.message {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Media Queries for Responsiveness */

/* Mobile phones */
@media (max-width: 576px) {
  .contact-title {
    font-size: 1.8rem;
  }

  .contact-subtitle {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .messages {
    height: 2rem; /* Reduced height for smaller screens */
  }

  .message {
    font-size: 0.85rem; /* Smaller font for messages */
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .contact-title {
    font-size: 2.2rem;
  }

  .contact-subtitle {
    font-size: 1rem;
    margin-top: -75px ;
    padding: 10px 30px;
  }

  .messages {
    height: 2.2rem;
  }

  .message {
    font-size: 2rem;
    font-family: 'Allura', sans-serif;
  ;
  }
}

/* Large screens */
@media (min-width: 769px) and (max-width: 1200px) {
  .contact-title {
    font-size: 2.3rem;
  }

  .contact-subtitle {
    font-size: 1.05rem;
    padding: 10px 40px;
  }

  .messages {
    height: 2.4rem;
  }

  .message {
    font-size: 1.9rem;
  }
}

/* Extra large screens */
@media (min-width: 1201px) {
  .contact-title {
    font-size: 2.5rem;
  }

  .contact-subtitle {
    font-size: 3%;
    padding: 10px 50px;
  }

  .messages {
    height: 2.5rem;
  }

  .message {
    font-size: 1.1rem;
  }
}
