/* App.css */

/* Background gradient for the entire body */
body {
  background: linear-gradient(to right, #1c718e, #e5d3bb, #1c718e);
  height: 100vh;
  width: 100%;
  margin: 0;
}

/* Container for icons */
.icons_container {
  font-size: 3rem;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Styling for summary text */
.summary_container { 
  font-size: 1.2rem;
  font-family: 'Ysabeau', sans-serif;
}

.name {
  font-family: 'Allura', sans-serif;
  font-size: 6rem;
}

.title {
  font-family: 'Ysabeau', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #232c6f;
}

/* General styling for elements with class 'bar' */
.bar {
  position: relative;
  padding: 10px 0; 
}

.bar::before,
.bar::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: #3cefff;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.9s ease-in-out;
}

.bar::before {
  top: 0;
}

.bar::after {
  bottom: 0;
}

.bar:hover::before,
.bar:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Optional: Specific styling for button with bar-like effect */
.bar_button {
  position: relative;
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #1c718e !important;
  color: #e5dbe5;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.bar_button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.bar_button:hover {
  cursor: pointer;
  color: #161616 !important;
}

.bar_button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

/* Define the animation for the cards */
/* Define the keyframes for the animation */
/* Define the keyframes for the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define the keyframes for tilting */
@keyframes tiltLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-8deg);
  }
}

@keyframes tiltRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes tiltSlightly {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

/* Apply animation to the cards */
.dog-card,
.family-card,
.fandb-card,
.community-card {
  opacity: 0;
  animation: fadeInUp 2s ease-out forwards;
}

/* Specific tilting and staggering for each card */
.dog-card {
  animation-delay: 0.5s;
  animation-name: fadeInUp, tiltLeft;
}

.family-card {
  animation-delay: 1s;
  animation-name: fadeInUp, tiltRight;
}

.fandb-card {
  animation-delay: 1.5s;
  animation-name: fadeInUp, tiltLeft;
}

.community-card {
  animation-delay: 2s;
  animation-name: fadeInUp, tiltSlightly;
}

/* App.css */

/* Style for PartnerSection */
.carlos {
  font-family: 'Allura', sans-serif;
  font-size: 3rem !important;
  color: #232c6f;
}

.btn {
  font-size: 1.2rem;
}

.btn svg {
  font-size: 1.5rem;
}

/* WordCloud.css */
.word-cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.word {
  position: absolute;
  opacity: 0.7;
  transition: transform 0.3s, opacity 0.3s;
  font-size: 1.5rem;
  color: #fff; /* Change as needed */
  white-space: nowrap; /* Ensure words don't break into multiple lines */
}

/* Optional: Add a box shadow for better readability */
.word {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.word:hover {
  transform: scale(1.2);
  opacity: 1;
}
